.py-5
  .container
    .row
      .col-md-12
        /=render "payments/card_data"
        .card.large-padding
          .card-body
            .table-responsive
              %table.table.table-striped.table-hover.medium#table_shopping_cart
                %thead
                  %td Producto
                  %td Costo
                  %td Unidades
                  %td Acciones
                %tbody{id: "my_cart", cart_id: "#{@shopping_cart.id}"}
                  -@shopping_cart.in_cart.each do |product|
                    %tr{id: "p_#{product[:id]}"}
                      %td= product[:name]
                      %td= product[:price]
                      %td= product[:quantity]
                      %td
                        %a.btn.btn-danger{:product => "#{product[:id]}", :onclick => "actions.deleteItem(this,#{product[:id]})"}
                          Eliminar
            .top-space.large-padding.text-center#payment_form
              %p{:style => "text-align: right;margin-right:100px;" }
                Total: 
                %strong.medium#mycartTotal  
                  =@shopping_cart.total
            .top-space
              - if @shopping_cart.total > 0
                =render "payments/buttons"