%nav.navbar.navbar-expand-md
  .container
    %a.navbar-brand{:href => "#"} Commerce
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          =link_to "Inicio", root_path,class:"nav-link"
        %li.nav-item
          =link_to "Compras", home_purchases_path,class:"nav-link"
        %li.nav-item
          =link_to "Historia", home_history_path,class:"nav-link"
        %li.nav-item
          =link_to "Favoritos", home_favorites_path,class:"nav-link"

        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "http://example.com"} Categorias
          .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
            - @categories.each do |category|
              =link_to category.name, category,class:"dropdown-item"
      = form_tag "/home/search", :method => :get, :class => 'form-inline m-0' do
        = text_field_tag "find", nil , html: { require:true }
        = submit_tag "Search",class:"btn btn-secondary"
      =link_to home_car_path,class:" btn btn-default navbar-btn mx-1 btn-primary py-1" do  
        %i.fa.fa-fw.fa-shopping-cart.fa-lg
      - if user_signed_in?
        = link_to destroy_user_session_path, method: :delete, class:"btn btn-default navbar-btn mx-1 btn-primary py-1" do 
          %i.fa.fa-fw.fa-bell-slash.fa-lg
        = link_to home_administrador_path, class:"btn btn-default navbar-btn mx-1 btn-primary py-1" do 
          %i.fa.fa-fw.fa-bookmark.fa-lg
      - else
        = link_to new_user_session_path, class:"btn btn-default navbar-btn mx-1 btn-primary py-1" do 
          %i.fa.fa-fw.fa-user.fa-lg
